*,
html,
body {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

.mapContainer {
	position: absolute;
	right: 0;
	top: 0;
	min-height: 300px;
	min-width: 300px;
	width: 450px;
	height: 450px;    
	overflow: hidden;
}

.mapContainer #dungeonMap {
	position: relative;
}